<%- include("partials/header.ejs") %>
<main>
  <form>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="<%= defaultDate %>" />
  </form>
  <br />

  <h3>Welcome to the Page</h3>
  <!---->
  <div class="apd">
    <div class="card" style="width: 18rem">
      <img src="/images/hncal.PNG" class="card-img-top" alt="Calculator" />

      <div class="card-body">
        <h5 class="card-title">Calculator</h5>
        <p class="card-text"></p>
        <a id="m1" href="#" class="btn btn-primary">Accurate</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img src="/images/HM.PNG" class="card-img-top" alt="Flower" />
      <div class="card-body">
        <h5 class="card-title">Hoa Mai</h5>
        <p class="card-text"></p>
        <a id="m5" href="#" class="btn btn-primary">Consistent</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img src="/images/hnfolder.PNG" class="card-img-top" alt="Folder" />
      <div class="card-body">
        <h5 class="card-title">Folder</h5>
        <p class="card-text"></p>
        <a id="m2" href="#" class="btn btn-primary">Organized</a>
      </div>
    </div>
  </div>
  <!---->
  <br />

  <h5>We Handle the Numbers, You Grow the Business.</h5>
</main>

<%- include("partials/footer.ejs") %>
